<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>result</title>
  </head>
  <body>
    <div>
      <p style="text-align: center; padding: 17px; font-size: 30px">
        취약점 분석 결과
      </p>
      <div style="margin-left: 10%; font-weight: 600;">
        검사 url: <b style="font-weight: 600; color: blue" id="input-url" >{{url}}</b>
      </div>
      <br />
    </div>
    <table style="border-collapse: collapse; margin: auto; width: 1000px">
      <tr style="border: solid 1px black">
        <th style="border: 1px solid black">id</th>
        <th style="border: 1px solid black">type</th>
        <th style="border: 1px solid black">원본 페이지</th>
        <th style="border: 1px solid black">테스트된 URL</th>
        <th style="border: 1px solid black">Payload</th>
      </tr>
      <tr>
        <td style="border: 1px solid black">1</td>
        <td style="border: 1px solid black"></td>
        <td style="border: 1px solid black"></td>
        <td style="border: 1px solid black"></td>
        <td style="border: 1px solid black"></td>
      </tr>
    </table>
    <div>
    </div>
  </body>
</html>
